.parchemin
{
  margin: 0 auto;
  width: 90%;
background-image: url("image/parch.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
box-shadow: 10px 10px 5px black;
}

.text-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  word-wrap: break-word;
}

.sec-part-header {
  max-height: 200px;
}

@font-face {
font-family: "Angels";
src: local(Angel),url("../fonts/Calling Angels Personal Use.woff") format("woff");
font-weight: normal;
}

.scrib {
  font-family: "Angels";
  font-weight: normal;
  font-size: 2vh;
}

.scrib.title {
  font-size: 8vh;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(255, 212, 0, 0.8);
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #323232, rgba(0, 0, 0, 0.8) 80%, black 100%);
}
.ball:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 150px;
  width: 135px;
  filter: blur(5px);
  z-index: 2;
}
.ball:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  filter: blur(10px);
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.glow:hover {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.ball .shadowiz {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-75px);
-moz-transform: rotateX(90deg) translateZ(-75px);
-ms-transform: rotateX(90deg) translateZ(-75px);
-o-transform: rotateX(90deg) translateZ(-75px);
transform: rotateX(90deg) translateZ(-75px);
z-index: -1;
}

.stage {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.inkwell {
  max-width: 100px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  background-image: url("image/encrier nohover.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.inkwell:hover {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: 100%;
    background-image: url("image/encrier hover.png");
}

body{
  margin-top: 0;
  margin-bottom: 0;
  background-image:
radial-gradient(circle at 50% 50%, transparent 61%, rgba(0, 0, 0, 0.8)), url('http://lakecountrykeys.com/wp-content/uploads/2016/03/latest-vintage-wood-table-texture-home-future-table-2880x1800-2175kb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
