{% extends "layout.twig" %}

{% block content %}
<div>
    <div id="chat_container" class="chat">
        <div class="row">
            <div class="hide-on-med-and-up col s12" style="border:3px solid black">
                
            </div>
            <div class="hide-on-small-only">
                <div class="col m2 l2">
                    <div class="profiles_list_container">

                    </div>
                </div>
                <div class="col m8 l8">
                    <div class="messages_container">

                    </div>
                </div>
                <div class="col m2 l2">
                    <div class="chat_sidebutton_container">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="notif_container">

    </div>
</div>
{% endblock %}